*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 80px;
    background-color: gray;
}

a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 5px;
    text-align: center;
}



#imgCasinha{
    width: 70px;
    height: 70px;
}

#imgTracinho{
    width: 70px;
    height: 70px;
}



#login{
    width: 400px;
    height: 100px;
    background-color: blue;
    text-align: right;
    margin: 100px auto;
}

#cadastro{
    margin: auto;
    background-color: blue;
    width: 300px;
    height: 500px;
    text-align: right;
}

#filmesGeneros{
    text-align: left;
    background-color: red;
    width: 100px;
    margin: auto;
}

#sobre{
    width: 400px;
    height: 100%;
    margin: 100px auto;
    background-color: blue;
    text-align: center;
}