*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/**menu**/
header{
    margin: 2% 5% 0 5%;
}

#logo{
    background-image: url(../imagem/logo.png);
    width: 100px;
    height: 100px;
    display: inline-block;
}

#menu{
    float: right;
    margin-top: 3%;
}

ul a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 20px;
    font-size: 18px;
}

li{
    display: inline;
}

li:hover a{
    background-color: #017143;
    color: white;
}