*{
    background-color:#E0FFFF;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

div#lupa{
    background-image: url(../imagens/lupa.png);
    background-size: 45px;
    background-repeat: no-repeat;
    margin: 7px 0px 0px 7px;
}

#pesquisa{
   position: fixed;
   top: 59px;
   left: 0px;
   border: 1px solid #DDDDDD;
   border-top: none;
   background-color: #27279b;
   color: white;
   border-radius: 3px;
   padding: 10px;
   display: none;
}

#icone_imagem{
    margin: 0px 130px 0px 130px;
}

div#menu>ul, div#lupa, div#icone_imagem{
    list-style:nome;
    background-color: #dddddd;
    overflow: hidden;
}
  
div#menu>ul>li, div#lupa, div#icone_imagem{
    display:inline;
    float:left;
}

li a, .dropbtn, div#lupa{
    display:block;
    padding:20px;
    background-color: #dddddd;
    text-decoration: none;
    color:black;
}
  
li{
    float:left;
}

div#menu>ul>li a:hover, .dropdown:hover .dropbtn{
    background-color:gray;
    color: white;
}

.conteudo-dropdown{
    text-align:left;
    display:none;
    position:absolute;
    z-index:1;
    color:black;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .conteudo-dropdown{
    display:block;
}

/**rodapé*/
footer{
    position: fixed;
    top:97.2%;
    text-align: center;
    width: 100%;
    background-color: rgb(13, 13, 110);;
    color: white;
    letter-spacing: 3px;
}

div.nomes{
    display: inline;
    background-color: rgb(13, 13, 110);;
}

h1{
    text-align: center;
    background-color: #DDDDDD;
    font-size: 30px;
    margin-top: 10px;
}

div#icone_imagem{
    background-image: url(../imagens/logo.png);
    width: 289px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}