*{
    background-color:#E0FFFF;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   

div#menu>ul{
    list-style:nome;
    background-color: #dddddd;
    overflow: hidden;
}
  
div#menu>ul>li{
    display:inline;
    float:left;
}
  
div#menu>ul>li>a{
    display:block;
    padding:20px;
    background-color: #dddddd;
    text-decoration: none;
    color:black;
}
  
div#menu>ul>li a:hover{
    background-color:gray;
    color: white;
}

footer{
    position: fixed;
    top:97%;
    text-align: center;
    width: 100%;
    background-color: gray;
    color: white;
    letter-spacing: 3px;
}

div.nomes{
    display: inline;
    background-color: gray;
}