*{
    background-color: #dddddd;
}

header{
    background-color: #5429CC;
    width: 100%;
    height: 30%;
    display: inline-block;
}

div#logo{
    background-color: #5429CC;
    padding: 15px;
    margin: 35px 0px;
}

div#icone{
    background-color:#dddddd;
    width:130px;
    position: fixed;
    top:1%;
    left:88%;
    padding:3px;
    text-align: center;
    padding:6px;
}

div#icone:hover{
    background-color: gray;
    color: white;
}

div#botao{
    text-align: center;
    background-color:#dddddd;
    width:80px;
    height: auto;
    color:black;
    padding:6px;
    box-shadow: 2px 2px black;
    position: fixed;
    top:14%;
    left:47%;
}

div#botao:hover{
    background-color: gray;
    color: white;
    box-shadow: 2px 2px white;
}

div#box1, div#box2, div#box3{
    background-color: #dddddd;
    width: 25%;
    height: 32%;
    display: inline-block;
    margin: 2% 3.9%;
    padding: 2% 0px 2% 0px;
    box-shadow: 2px 2px black;
}
  
div#box1:hover, div#box2:hover, div#box3:hover{
    background-color:gray;
    color:white;
    box-shadow: 2px 2px white;
}
  
div#box1, div#box2, div#box3{
    text-align:center;
}
  
div#dados{
    margin-top:80px;
    background-color:#dddddd;
    width:100%;
    height:30%
}

tr,th{
    background-color:rgba(128, 128, 128, 0.315);
    padding:7px;
}
  
table,td{
    margin: center;
    width:100%;
    padding: 0px 30px;
}
td{
    background-color: white;
}

tr#titulo{
    color:gray;
}

th:hover, td:hover{
    background-color: gray;
    color:white
}