*{
    background-color: #dddddd;
}

main{
    margin: 5% auto;
    width: 60%;
    text-align: center;
    background-color: white;
    padding-bottom: 2%;
    border-radius: 15px;
}

#conteudo{
    margin: auto;
    width: 70%;
    margin: auto;
    height: 100%;
}

input[type="number"], input[type="text"]{
    padding: 16px 0px 16px 0px;
    margin: 5% auto;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.botaoOpcao{
    width: 45%;
    border: none;
    background-color: rgb(13, 13, 110);
    color: white;
    display: inline-block;
    text-align: center;
    padding: 23px;
}

#botaoEnviar{
    display: block;
    text-align: center;
    margin: 7% auto;
    width:100%;
    padding: 20px;
    border: none;
}

.botaoOpcao:focus{
    background-color: red;
    margin: 1px solid black;
}