*{
    margin :0;
    padding:0;
    box-sizing:border-box;
    text-align:center;
    color:white;
  }
  
  .container{
    display:grid;
    width:100%;
    height:100vh;
    background:black;
    grid-gap:30px;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns:3fr 1fr;
    grid-template-areas:
      "header header"
      "main aside1"
      "main aside2"
      "footer footer"
  }
  
  header{grid-area:header;background:green;}
  main{grid-area:main;background:blue;}
  aside1{grid-area:aside1;background:yellow;}
  aside2{grid-area:aside2;background:gray;}
  footer{grid-area:footer;background:red;}
  
  @media(max-width:900px){
    .container{
      grid-template-columns:1fr 1fr;
      grid-template-rows:repeat(4,1fr);
      grid-template-areas:
      "header header"
      "main aside1"
      "main aside2"
      "footer footer"
    }
  }
  
  @media(max-width:700px){
    .container{
      grid-template-columns:1fr 1fr;
      grid-template-rows:repeat(4,1fr);
      grid-template-areas:
      "header header"
      "main main"
      "aside1 aside2"
      "footer footer"
    }
  }
  
  @media(max-width:500px){
    .container{
      grid-template-columns:1fr;
      grid-template-rows:repeat(5,1fr);
      grid-template-areas:
      "header"
      "main"
      "aside1"
      "aside2"
      "footer"
    }
  }