@font-face {
    font-family: 'times';
    src: url(fontes/good\ times\ rg.ttf);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
    font-family: 'times';
}

h1{
    letter-spacing: 20px;
    text-align: center;
    font-family: 'times';
    padding-top: 35px;
    text-shadow: 1px 2px 1px black;
}

header{
    background-color: #0EB57B;
    width: 100%;
    height: 300px;
    margin: 0px;
    color: white;
}

div#fundo{
    background-color: #0EB57B;
    width: 100%;
    height: 100px;
    margin: 0px auto;
    color: white;
}

div#foto{
    background-color: white;
    width: 650px;
    height: 300px;
    margin: 0px auto;
    text-align: left;
    color: #0EB57B;
    border-radius: 20px;
    border: #0EB57B solid 1px;
}

table,tr,td{
    margin: 300px 200px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}


table{
    border-spacing: 30px;
    width: 100%;
    margin: 250px auto 40px auto;
}

td{
    width: 100px;
    height: 50px;
    background-color: #0EB57B;
    padding: 0px 50px;
    border-radius: 20px;
    border: 1px solid rgb(83, 72, 72);
}

main{
    margin: 300px auto 120px auto;
    background-color: #E7E7E7;
    color: #0EB57B;
}

p{
    text-align: center;
    color: #0EB57B;
    margin: 0px;
    font-size: 40px;
}

div#conteudo{
    background-color: white;
    margin: auto;
    width: 610px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    border: #0EB57B solid 1px;
}

footer{
    margin: 0px;
    background-color: #0EB57B;
}

footer>p{
    color: white;
}

div#div1{
    background-color: white;
    margin: 12px 30%;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    width: 100px;
    height: 30px;
}

div#div2{
    background-color: white;
    margin: 12px 56%;
    padding: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

div#div3{
    background-color: white;
    margin: 12px 30%;
    padding: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

div#div4{
    background-color: white;
    margin: 12px 56%;
    padding: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

a{
    color: #000000;;
    text-decoration: none;
    font-size: 18px;
}

footer{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 16px;
    background-color: #0EB57B;
    text-align: center;
    font-size: 13px;
}